<div class="container is-flex is-align-items-center is-flex-direction-column">
  <div class="is-flex">
    <p class="my-4 mx-4 ">Hay {{clubs.length}} equipos.</p>
    <a href="/club/create" class="button my-2 is-success">Agrega tu Equipo</a>
  </div>
  <table class="table table is-striped table is-hoverable table is-bordered">
    <thead>
      <th class="has-text-centered">Equipo</th>
      <th class="has-text-centered">Acciones</th>
    </thead>
    <tbody>
      {{#each clubs}}
        <tr>
          <td>
            <div class="is-flex is-align-items-center">
              <img src={{this.crestUrl}} alt="logo of the team" class="image is-32x32" />
              <p class="ml-2">{{this.name}}</p>
            </div>
          </td>
          <td>
            <a href="/club/view/{{this.id}}" class="button is-info">Ver</a> 
            <a href="/club/edit/{{this.id}}" class="button is-primary">Editar</a>
            <a href="/club/delete/{{this.id}}" class="button is-danger">Eliminar</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>