<div class="container is-flex is-align-items-center is-flex-direction-column">
  <img class="image is-128x128 my-2" src="/{{club.crestUrl}}">
  <h3 class="my-4 is-size-3">{{club.name}}</h3>
  <table class="table table is-striped table is-hoverable table is-bordered">
    <thead>
      <th class="has-text-centered">Información</th>
      <th class="has-text-centered">Valor</th>
    </thead>
    <tbody>
      <tr >
        <th>Nombre</th>
        <td>{{club.name}}</td>
      </tr>
      <tr>
        <th>Nombre Corto</th>
        <td>{{club.shortName}}</td>
      </tr>
      <tr>
        <th>Siglas</th>
        <td>{{club.tla}}</td>
      </tr>
      <tr>
        <th>Fundado en el año</th>
        <td>{{club.founded}}</td>
      </tr>
      <tr>
        <th>Colores del club</th>
        <td>{{club.clubColors}}</td>
      </tr>
      <tr>
        <th>Dirección</th>
        <td>{{club.address}}</td>
      </tr>
      <tr>
        <th>Telefono</th>
        <td>{{club.phone}}</td>
      </tr>
      <tr>
        <th>Website</th>
        <td><a>{{club.website}}</a></td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{club.email}}</td>
      </tr>
      <tr>
        <th>Estadio</th>
        <td>{{club.venue}}</td>
      </tr>
    </tbody>
  </table>
  <iframe class='mb-3' src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAO-SOdVnZvTaEmjCXfRbBpitWkmjuOXcY
    &q={{club.address}}" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  <div>
    <a href="/club/edit/{{club.id}}" class="button is-primary mx-4 my-4">Editar</a>
    <button id="delete-btn" data-id={{club.id}} data-name="{{club.name}}" class="button is-danger mx-4 my-4">Eliminar</button>
  </div>
  <div id="prompt-container"></div>
</div>

<script src="/public/js/delete-club-prompt.js"></script>